.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 3.125em;
  border-radius: 10px;
  text-align: center;
  width: 25%;
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}
.signup {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.Sport-input{
  width: 200px; 
  max-width: 50%; 
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  margin-bottom: 0.5vh;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

/* .form-group {
  width: auto;
  margin-bottom: 1.25em;
} */

.form-group label {
  color: rgb(77, 75, 75);
  margin-bottom: 0.5em;
}
.error {
  color: red;
}
.form--input{
  width: 10vw;
  padding: 0.8em;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 2vw;
  margin-bottom: 2vh;
  font-family: 'Inter', sans-serif;
  outline: none;
}
.lbl{
  text-align: center;
  font-weight: bold;
}

/* .form-group input {
  width: auto;
  padding: 0.8em;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: 'Inter', sans-serif;
  outline: none;
  
} */
/* input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
} 

input-group:hover .label, .input:focus {
  color: #05060fc2;
} */


.form--submit {
  width: auto;
  padding: 0.625em 2em;
  border-radius: 5px;
  color: white;
  background-color: rgba(102, 51, 153, 0.697);
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  background-color:rgb(112, 43, 180);
  cursor: pointer;
  transition: 0.5s;
}

:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

.gender{
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}

@media (max-width: 578px) {
    .form1{
     width: 50%;
    }
 }
